.forgot-component {
  margin: 0px;
  padding: 0px;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;

  input {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .sign-in-btn {
    background-color: #1e90ff;
    color: white;
  }
  a {
    text-align: center;
    text-decoration: none;
    color: #1e90ff;
  }

  p {
    background-color: white;
    font-size: 15px;
    margin: 20px 0px;
  }
}

.forgot-form {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  text-align: center;
  padding: 10px;
  margin: 0px;
  border: 1px solid #d3d3d3;
  button {
    width: 100%;
    background-color: transparent;
    border: none;
  }
}
